body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
}
h1{
  text-align: center;
}
input {
  border-radius: 20px 0px 0px 20px;
}

#addBtn {

  border-radius: 0px 20px 20px 0px;
}

#addBtn:hover,
input:hover {
  border: 1px solid rgb(19, 241, 207);
}


input,
#addBtn {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgb(239, 140, 18);


}

input:focus,
#addBtn:focus {
  outline: none;

}

main {
  width: 400px;
  height: 520px;
  background-image: url('https://imgs.search.brave.com/pFbdWwlWlRDvdqaHE0UAl1OIDpRnbXfBUjyWF86iKKg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9waXhs/ci5jb20vaW1hZ2Vz/L2luZGV4L3Bob3Rv/LWZpbHRlci1lZmZl/Y3Qtb25lLmpwZw');
  background-size: cover;
  box-shadow: 0 0 10px white;
  border-radius: 50px 50px 10px 10px;


}

#inputDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0.cm solid black;
  margin: auto;
  border-radius: 20px;
}

ul {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  overflow: scroll;

}

ul::-webkit-scrollbar {
  display: none;
}


li {
  color: rgb(43, 39, 34);
  list-style: none;
  text-align: start;
  height: fit-content;
  width: 80%;
  margin-bottom: 10px;
  padding: 7px;
  margin-right: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;

}

span {

  cursor: pointer;

}



#footer{
  width: 100%;
  background-color: aqua;
}

a{
  color: white;
}

#deleteBtn{
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(255, 252, 252, 0.491);
 }
 #deleteBtn:hover{
   background-color: rgba(255, 255, 255, 0.818);
   backdrop-filter: blur(2);
 }

 #completeBtn{
 width: fit-content;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(255, 252, 252, 0.491);
 }
  #completeBtn:hover{
   background-color: rgba(255, 255, 255, 0.818);
   backdrop-filter: blur(2);
  }
#completedTask{
background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80%;
}
#completedTask:hover{
  color: #d7d2d2;
   background-color: rgba(255, 255, 255, 0.5);
   backdrop-filter: blur(2);
}
#task{
  width: 100%;

}
