#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body{
  color: white;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


input[type="checkbox"]:checked {
  background-color: #2196F3;
  border-color: #2196F3;
}