
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}








*{
  color: #000;
}

#pasgen{
background-color: rgb(41, 218, 32);
}
#pasgen:hover{
background-color: rgba(41, 218, 32, 0.817);
}
#pasgen:active{
background-color: rgb(39, 214, 29);
}

#copytx{
background-color: rgb(32, 162, 218);
}
#copytx:hover{
background-color: rgba(32, 218, 190, 0.817);
}
#copytx:active{
background-color: rgb(29, 214, 174);
}
#mainBox{
  background-color: #aea7a77b;
}